.App {
  text-align: center;
}

.App-border-text {
  background-color: black;
  color: white;
  height: 75px;
  position: fixed;
  width: 100%;
}

.App-footer {
  bottom: 0;
}

.App-header {

}

.App-title {
  font-size: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.content {
  width: 400px;
  display: inline;
}

.contentWrapper {
  width:2000px;
}

.main {
  position: static;
  height: 90%;
}

.main-table {
  position: relative;
  top: 75px;
  height: 90%;
  width: 100%;
  overflow: auto;
}

body {
  font: Tahoma, Geneva, sans-serif;
}

div {
  white-space: nowrap;
  overflow: auto;
}

table {
  width:400px;
  table-layout:fixed;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
