.App {
  text-align: center;
}

.App-border-text {
  background-color: black;
  color: white;
  height: 75px;
  position: fixed;
  width: 100%;
}

.App-footer {
  bottom: 0;
}

.App-header {

}

.App-title {
  font-size: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}

body {
  font: Tahoma, Geneva, sans-serif;
}

HorizontalScroll {
  top: 75px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
